body {
    background-color: #F3F3F3;
}

.topo {
    height: 80px;
    width: 100%;
    left: 0px;
    top: 0px;
    border-radius: 0px;
    display: flex;
    background: #FFFFFF;
    box-shadow: 0px 4px 6px 0px #0000000D;
    align-items: center;
    margin-bottom: 26px;
}

.topo img {
    height: 53px;
    width: 75px;
    left: 22px;
    top: 16px;
    margin-left: 22px;
}

.pessoas {
    height: 30px;
    width: 42px;
    position: fixed;
    right: 27px;
}

.mensagens {
    background: #E5E5E5;
    width: 100%;
}

footer {
    height: 80px;
    width: 100%;
    position: fixed;
    bottom: 0px;
    display: flex;
    align-items: center;
    box-shadow: 0px -4px 6px 0px #0000000D;
    background-color: #FFFFFF;
    ;
}

.barraPesquisa {
    display: flex;
    align-items: center;
}

.aviao {
    position: fixed;
    right: 27px;
    height: 26px;
    width: 26px;
}

input {
    border: none;
    position: fixed;
    left: 17px;
    font-size: 18px;
}

.entradaSaida {
    height: 40px;
    border-radius: 2px;
    background: #DCDCDC;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.mensagemNormal {
    height: 40px;
    border-radius: 2px;
    background: #FFFFFF;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}

.mensagemPrivada {
    height: 63px;
    border-radius: 2px;
    background: #FFDEDE;
    display: flex;
    align-items: center;
    margin-bottom: 4px;
}